Bottleneck
contourpy
cycler
fonttools
iniconfig
kiwisolver
matplotlib==3.10.6
numexpr
numpy
packaging
pandas
patsy
pillow
pluggy
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
ruff
scipy
seaborn
six
statsmodels
tornado
tqdm
tzdata
